/* ******************************** */


/* ******************************** */


/* SECTION */


/* ******************************** */


/* ******************************** */


/* ******************************** */

.container__right,
.container__left {
    background-color: $color-marineBlue;
    height: 100vh;
    width: 50vw;
    padding: convertir(50);
}

.container__left {
    background-color: $color-babyBlue;
}