img.left__titulo(src="assets/svg/sofa.svg", alt="Título Sofá")
p.left__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat eu dictum adipiscing odio urna molestie donec mattis. Semper nec egestas bibendum accumsan, ac tincidunt leo. Consectetur ultrices consectetur eu feugiat nisl, lectus. Nulla ut viverra et facilisis morbi ut eget sit facilisis. A, at lorem egestas augue. 