include ../mixin/picture
include ../mixin/picture_completo

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")
        title Sofas
    body
        //- Contenedor principal
        #container
            section.container__right: include section_1
            section.container__left: include section_2
        figure.producto
            block producto
                img.producto__imagen(src="assets/img/desktop/sofa.png", alt="")
