// Colores
$color-babyBlue: #adc6d4;
$color-marineBlue: #4a92ba;
$color-darkBlue: #366b89;
$color-white: #ffffff;
// Tamaños botón
$border-radius: convertir(10);
$padding-btn: convertir(15) convertir(20);
// Tamaños título y texto
$width-text: convertir(596);
$line-height_text: convertir(18);
$margin-title: convertir(20);